<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.headstrong.habitica</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>21A9BB80-DA83-414C-9FF3-76CBA477815A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2F7587F-459C-4708-91EA-3E9F6B9E07F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4151E782-5944-4588-83FC-A60D00C7B1D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86DEF423-8EE8-4E9C-AD78-EC79872B9A90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53B586D4-51A1-4F75-B73D-B9F037B6007A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>420B7B47-18F8-4D8D-BDBD-AF5E635815BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7110D669-6869-409F-8447-4057E45804C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86DEF423-8EE8-4E9C-AD78-EC79872B9A90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEE3F125-C0F7-454E-A5FC-F15380B97AC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C7ED541-7BD0-4641-9300-44F703239C79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7110D669-6869-409F-8447-4057E45804C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3EBB541-7AB3-463D-B9A0-6E7AE49E039D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBD182AE-F93C-4E75-A74D-A793F3066C4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2F7587F-459C-4708-91EA-3E9F6B9E07F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91053FAE-B9EC-43B1-80BE-6D74A50A01B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBD182AE-F93C-4E75-A74D-A793F3066C4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84895D66-36B5-44EC-B416-1A551E52B599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Head</string>
	<key>description</key>
	<string>Keep track of your habits from Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Habitica</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  display dialog "You'll need your Alfred API keys.  This part is simple :).  Just go to this link: https://habitica.com/#/options/settings/api."  buttons {"I have opened the API page"} default button 1
  display dialog "What is your Habitica 'User ID'?" default answer ""
  set user_id to text returned of result
  display dialog "What is your Habitica 'API Token'?" default answer ""
  set api_token to text returned of result
  display dialog "Saving authentication and downloading dependencies to the workflow's directory.  Hang tight---you'll see a notification when setup is done."  buttons {"Ok"} default button 1
  return user_id &amp; "," &amp; api_token
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B2F7587F-459C-4708-91EA-3E9F6B9E07F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hab config</string>
				<key>subtext</key>
				<string>Set API keys and set up software</string>
				<key>text</key>
				<string>Configure Alfred Habitica</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21A9BB80-DA83-414C-9FF3-76CBA477815A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Save API authentication information to local file.
echo "[auth]" &gt; alfred_habitica.cfg
echo {query} | sed -E 's!(.*),.*!user_id=\1!' &gt;&gt; alfred_habitica.cfg
echo {query} | sed -E 's!.*,(.*)!api_token=\1!' &gt;&gt; alfred_habitica.cfg

# Get Python virtualenv source.
# I do this so that we more respectfully download dependencies to the
# local directory instead of requiring users to install global dependencies.
curl -L https://github.com/pypa/virtualenv/archive/15.0.0.tar.gz --output 15.0.0.tar.gz
tar xzvf 15.0.0.tar.gz

# Create a virtual environment in directory 'venv'
python virtualenv-15.0.0/virtualenv.py venv

# The next couple of lines are workarounds to let us install virtualenv pip
sed -i.bak "s/VIRTUAL_ENV=\"\(.*\)\"/VIRTUAL_ENV='\1'/" venv/bin/activate
sed -i.bak '1s-.*-#!/usr/bin/env python-' venv/bin/pip

# Install the requirements!
source venv/bin/activate
pip install -r reqs.txt
python habitica.py refresh  # refresh the list of tasks
osascript -e 'display notification "is ready to use." with title "Alfred Habitica"'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>91053FAE-B9EC-43B1-80BE-6D74A50A01B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your good habit has been saved.</string>
				<key>title</key>
				<string>Keep up the good work!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>venv/bin/python habitica.py report --up "{query}"
echo -n {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7110D669-6869-409F-8447-4057E45804C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>hab good</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>venv/bin/python habitica.py autocomplete --task-type good "{query}"</string>
				<key>subtext</key>
				<string>Start typing to show autocomplete</string>
				<key>title</key>
				<string>Share a Good Habit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C7ED541-7BD0-4641-9300-44F703239C79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>venv/bin/python habitica.py report "{query}"
echo -n {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86DEF423-8EE8-4E9C-AD78-EC79872B9A90</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your habit stats have been updated.</string>
				<key>title</key>
				<string>Your bad habit was logged</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FEE3F125-C0F7-454E-A5FC-F15380B97AC1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>hab bad</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>venv/bin/python habitica.py autocomplete --task-type bad "{query}"</string>
				<key>subtext</key>
				<string>Start typing to show autocomplete</string>
				<key>title</key>
				<string>Share a Bad Habit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4151E782-5944-4588-83FC-A60D00C7B1D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://habitica.com/#/tasks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>420B7B47-18F8-4D8D-BDBD-AF5E635815BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hab home</string>
				<key>subtext</key>
				<string>Check up on your stats in the browser</string>
				<key>text</key>
				<string>Go to your Habitica home page</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53B586D4-51A1-4F75-B73D-B9F037B6007A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>venv/bin/python habitica.py refresh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EBD182AE-F93C-4E75-A74D-A793F3066C4B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Autocomplete is now up to date</string>
				<key>title</key>
				<string>Your local list of tasks is refreshed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>84895D66-36B5-44EC-B416-1A551E52B599</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hab refresh</string>
				<key>subtext</key>
				<string>(Sometimes the list gets stale)</string>
				<key>text</key>
				<string>Refresh the list of autocomplete tasks.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A3EBB541-7AB3-463D-B9A0-6E7AE49E039D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21A9BB80-DA83-414C-9FF3-76CBA477815A</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4151E782-5944-4588-83FC-A60D00C7B1D0</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>420B7B47-18F8-4D8D-BDBD-AF5E635815BE</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>53B586D4-51A1-4F75-B73D-B9F037B6007A</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>7110D669-6869-409F-8447-4057E45804C3</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>84895D66-36B5-44EC-B416-1A551E52B599</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>86DEF423-8EE8-4E9C-AD78-EC79872B9A90</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>91053FAE-B9EC-43B1-80BE-6D74A50A01B4</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>9B068E00-FBF1-49BE-A91A-9B2262D7537C</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>9C7ED541-7BD0-4641-9300-44F703239C79</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A3EBB541-7AB3-463D-B9A0-6E7AE49E039D</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>B2F7587F-459C-4708-91EA-3E9F6B9E07F3</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>EBD182AE-F93C-4E75-A74D-A793F3066C4B</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>FEE3F125-C0F7-454E-A5FC-F15380B97AC1</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://andrewhead.info</string>
</dict>
</plist>
