<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.headstrong.habitica</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>21A9BB80-DA83-414C-9FF3-76CBA477815A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28F75D7D-9617-42B4-9FA5-6A0CF5D60370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28F75D7D-9617-42B4-9FA5-6A0CF5D60370</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB36CD5-623A-4319-A6D7-F47439972FF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A82E246-0C73-4853-8C3D-F0161B4E0147</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94DD9854-8072-4728-8290-65BCB948BC77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7110D669-6869-409F-8447-4057E45804C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72E2A413-DA7A-4B50-94AF-B9DA0F7DE17B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7110D669-6869-409F-8447-4057E45804C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>94DD9854-8072-4728-8290-65BCB948BC77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C12A2EDA-82B2-42F7-BDBD-DF4DA4632F5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA8EE2C1-B581-4BFC-A114-C68809F45A47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FA8EE2C1-B581-4BFC-A114-C68809F45A47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Head</string>
	<key>description</key>
	<string>Keep track of your habits from Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Habitica</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/local/bin

virtualenv venv
sed -i.bak "s/VIRTUAL_ENV=\"\(.*\)\"/VIRTUAL_ENV='\1'/" venv/bin/activate
sed -i.bak '1s-.*-#!/usr/bin/env python-' venv/bin/pip
source venv/bin/activate
pip install -r reqs.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28F75D7D-9617-42B4-9FA5-6A0CF5D60370</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>h init</string>
				<key>text</key>
				<string>Initialize Habitica</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21A9BB80-DA83-414C-9FF3-76CBA477815A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>All dependencies installed.</string>
				<key>title</key>
				<string>Habitica was initiailized!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EEB36CD5-623A-4319-A6D7-F47439972FF0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source venv/bin/activate
python habcall.py "Press Teeth"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA8EE2C1-B581-4BFC-A114-C68809F45A47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>h teeth</string>
				<key>text</key>
				<string>Store that you chomped your teeth.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C12A2EDA-82B2-42F7-BDBD-DF4DA4632F5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source venv/bin/activate
python habcall.py --up "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7110D669-6869-409F-8447-4057E45804C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hu</string>
				<key>subtext</key>
				<string>Good work on doing {query}</string>
				<key>text</key>
				<string>Log a positive habit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72E2A413-DA7A-4B50-94AF-B9DA0F7DE17B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Keep up the good work.</string>
				<key>title</key>
				<string>Your habit activity was uploaded!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9B068E00-FBF1-49BE-A91A-9B2262D7537C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source venv/bin/activate
python habcall.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94DD9854-8072-4728-8290-65BCB948BC77</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hd</string>
				<key>subtext</key>
				<string>Thanks for logging {query}</string>
				<key>text</key>
				<string>Log a negative habit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A82E246-0C73-4853-8C3D-F0161B4E0147</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21A9BB80-DA83-414C-9FF3-76CBA477815A</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>28F75D7D-9617-42B4-9FA5-6A0CF5D60370</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>3A82E246-0C73-4853-8C3D-F0161B4E0147</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>7110D669-6869-409F-8447-4057E45804C3</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>72E2A413-DA7A-4B50-94AF-B9DA0F7DE17B</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>94DD9854-8072-4728-8290-65BCB948BC77</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>9B068E00-FBF1-49BE-A91A-9B2262D7537C</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>C12A2EDA-82B2-42F7-BDBD-DF4DA4632F5E</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>EEB36CD5-623A-4319-A6D7-F47439972FF0</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>FA8EE2C1-B581-4BFC-A114-C68809F45A47</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://andrewhead.info</string>
</dict>
</plist>
